.wrap {
  height: 100%;
  padding: 15px 0;
}

.container {
  border-right: #ccc 1px solid;
}

.user {
  padding: 40px 0 0;
}

.user .avatar {
  height: 60px;
  width: 60px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
}

.user .name {
  text-align: center;
  font-size: 12px;
}

.summary {
  height: 80px;
  margin: 10px 15px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 10px;
}

.menu .logout {
  margin-top: 20px;
}
